html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #D93A3A;
}

#root{
  display:none;
}

h1,
h2,
h3,
p {
  color: white;
}

.navigation {
  color: white;
}

body {
  background-image: url("../photo/sol_bio.svg");
  background-size: cover;
}

#element2{
  color: #DC0B2B ;
  }
  
  #element3{
    color:#41388E;
    }
  
    #element4{
      color:#F28F34;
      }
/*Ma barre de navigation*/
nav {
  display: flex;
  background-color: #D93A3A;
  padding: 5px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 20px 0px #920707;
}

/*Mes positionnements d'onglets de barre de navigation*/
.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


/*Mes onglets de barre de navigation*/
.navigation {
  padding: 10px;
  text-decoration: none;
  font-family: 'Knewave', cursive;
  font-size: 1.25rem;
  color: #D93A3A;
  border: solid;
  border-radius: 15px;
  margin-left: 10px;
}

.navigation:hover {
  color: rgb(0, 0, 0);
}

/*Taille logo des logiciels que je maitrise à la fin de la page*/
.aff {
  height: 50px;
  width: 200px;
  justify-content: end;
  max-width: 100%;

}

h1 {
  font-size: 6.25vw;
  margin-left: 50px;
  font-family: 'Knewave', cursive;
  color: white;

}

/*Texte présent sur la biographie */
.bio_text {
  margin-left: 50px;
  width: 700px;
  font-size: 1.50vw;
  font-family: 'Kodchasan', sans-serif;
  color: white;


  margin-top: 100px;
  margin-right: 100px;
}

/*Texte présent sur les noms des logiciels*/
.text-aff {
  margin-left: 50px;
  width: 600px;
  font-size: 1.25vw;
  font-family: 'Kodchasan', sans-serif;
  color: white;
}

.container_cv {
  background-color: white;
  width: 170px;
  height: 50px;
  margin-left: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.oeil {
  width: 60px;
}

.cv {
  text-decoration: none;
  color: black;
  font-family: 'Knewave', cursive;
  padding-top: 13px;
}

/*Ensemble des containers des logiciels que je maitrise à la fin de la plage*/
.container {
  display: flex;
  margin: 100px;
  justify-content: center;

}

/*Container des logiciels que je maitrise à la fin de la plage*/
.box {
  width: 30%;
  height: 1000px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  margin: 30px;
  color: var(--background-color);
}

.categories {
  color: #D93A3A;
}

h2 {
  text-align: center;
  font-size: 1.875vw;
  font-family: 'Knewave', cursive;
}

/*Fond de la page*/
.background-image {
  background-image: url(sol_bio.svg);
  height: 100px;
  width: 400px;
}

/*Couleur texte logiciels*/
.text-aff {
  color: #D93A3A;
}

footer {
  bottom: 0;
  background-color: #423f3e;
  font-family: "Kodchasan", sans-serif;
  font-size: 10px;
  text-align: center;
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction:row ;
  justify-content: space-between; 
  color: white;
}

.footer {margin: 10px;
  margin-top: auto;
  margin-bottom: auto;}

h3 {
  font-family: 'Kodchasan', sans-serif;
  bottom: 0;
  color: var(--background-color);
}

/*Logo situé dans la barre de nav qui permet de revenir à la page index en haut à gauche */
.container-logo {
  background-color: white;
  width: 35px;
  height: 50px;
}

.logo {
  width: 37px;
  margin-top: 3px;
}

.container-logo:hover {
  scale: 110%;
  transition-duration: 2S;
}

/*Photo de mon parcours*/
.parcours {
  width: 1000px;
  height: 300px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/*Image qui contient ma photo*/
.photo {
  width: 700px;
  height: 700px;
  max-width: 100%;
}

.photo-text {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .photo-text {
    flex-wrap: wrap;
  }

  .bio_text {
    font-size: 1.3em;
    text-align: start;

  }

  footer {
    text-align: center;
    margin-left: 0;
  }

  h1 {
    font-size: 2.8em;
    text-align: center;
    margin-left: 0;
  }

  h2 {
    font-size: 0.7em;
  }

  .box {
    width: 120px;
    height: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .text-aff {
    font-size: 0.5em;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  /* hide classic menu */
  #topnav_menu {
   display: none;
 }
 
 
 #root{
 display:block;
 }
 
 /* position home link at left and hamburger at right */
 #home_link {
   flex-grow: 1;
 }
 
 /* disable horizontal scrolling  */
 #root {
   position: relative;
   overflow-x: hidden;
 }
 
 /* show responsive menu and position at the right of the screen */
 #topnav_responsive_menu {
   display: block;
   position: absolute;
   margin: 0;
   right: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
 
   z-index: 99;
 
   transform-origin: 0% 0%;
   transform: translate(200%, 0);
 
   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
 }
 
 #topnav_responsive_menu ul {
   display: flex;
   flex-direction: column;
 
   position: absolute;
   margin: 0;
   right: 0;
   top: 0;
 
   min-width: 50vw;
   width: 100%;
   height: 100vh;
   padding: 56px 0 0;
 
   text-align: center;
 
   background: #ffffff;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
 }
 
 #topnav_responsive_menu li {
   padding: 12px 24px;
   font-size: 40px;
   font-family: "knewave";
   text-align: center;
 }
 
 #topnav_responsive_menu a {
   white-space: nowrap;
   text-decoration: none;
 }
 
 /* And let's slide it in from the right */
 #topnav_responsive_menu.open {
   transform: none;
   position: fixed;
 }
 
 /* ******************** HAMBURGER ICON ******************** */
 /* define size and position of the hamburger link */
 #topnav_hamburger_icon {
   display: block;
   position: relative;
   margin: 16px;
   width: 30px;
   height: 28px;
 
   z-index: 100;
 
   -webkit-user-select: none;
   user-select: none;
   cursor: pointer;
 }
 
 /* define the style (size, color, position, animation, ...) of the 3 spans */
 #topnav_hamburger_icon span {
   display: block;
   position: absolute;
   height: 4px;
   width: 100%;
   margin-bottom: 5px;
 
   background: #000000;
   border-radius: 3px;
 
   z-index: 100;
 
   opacity: 1;
   left: 0;
 
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: 0.25s ease-in-out;
   -moz-transition: 0.25s ease-in-out;
   -o-transition: 0.25s ease-in-out;
   transition: 0.25s ease-in-out;
 }
 
 /* set the 3 spans position to look like a hamburger */
 #topnav_hamburger_icon span:nth-child(1) {
   top: 0px;
   -webkit-transform-origin: left top;
   -moz-transform-origin: left top;
   -o-transform-origin: left top;
   transform-origin: left top;
   background-color: #41388E;
 }
 #topnav_hamburger_icon span:nth-child(2) {
   top: 12px;
   -webkit-transform-origin: left center;
   -moz-transform-origin: left center;
   -o-transform-origin: left center;
   transform-origin: left center;
   background-color: #f29036;
 }
 #topnav_hamburger_icon span:nth-child(3) {
   top: 24px;
   -webkit-transform-origin: left bottom;
   -moz-transform-origin: left bottom;
   -o-transform-origin: left bottom;
   transform-origin: left bottom;
   background-color:#DC0B2B ;
 }
 
 /* the first span rotates 45° \ */
 #topnav_hamburger_icon.open span:nth-child(1) {
   width: 110%;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 
 /* the second span disappears */
 #topnav_hamburger_icon.open span:nth-child(2) {
   width: 0%;
   opacity: 0;
 }
 
 /* the last span rotates -45° / */
 #topnav_hamburger_icon.open span:nth-child(3) {
   width: 110%;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
 }
 
 .bio{
  color:#DC0B2B ;
 }
 
 .projets{
 color: #41388E ;
 }
 
 .contact{
 color: #f29036;
 
 }
 
 .categories:hover{
   background-color: #eeeeee;
 }
 }

 /* Media Query pour les tablettes (ajustez les valeurs en conséquence) */
@media only screen and (max-width: 916px) {
 /***** Menu burger ****/
#element1{
  display: none;
}

.topnav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
  height: 68px;
}
.topnav_link {
  color: rgb(0, 0, 0);
  padding: 12px;
  text-decoration: none;
}
.topnav_link:hover {
  color: #0078b4;
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

/* hide classic menu */
#topnav_menu {
  display: none;
}


#root{
display:block;
}

/* position home link at left and hamburger at right */
#home_link {
  flex-grow: 1;
}

/* disable horizontal scrolling  */
#root {
  position: relative;
  overflow-x: hidden;
}

/* show responsive menu and position at the right of the screen */
#topnav_responsive_menu {
  display: block;
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  z-index: 99;

  transform-origin: 0% 0%;
  transform: translate(200%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#topnav_responsive_menu ul {
  display: flex;
  flex-direction: column;

  position: absolute;
  margin: 0;
  right: 0;
  top: 0;

  min-width: 50vw;
  width: 100%;
  height: 100vh;
  padding: 56px 0 0;

  text-align: center;

  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#topnav_responsive_menu li {
  padding: 12px 24px;
  font-size: 40px;
  font-family: "knewave";
  text-align: center;
}

#topnav_responsive_menu a {
  white-space: nowrap;
  text-decoration: none;
}

/* And let's slide it in from the right */
#topnav_responsive_menu.open {
  transform: none;
  position: fixed;
}

/* ******************** HAMBURGER ICON ******************** */
/* define size and position of the hamburger link */
#topnav_hamburger_icon {
  display: block;
  position: relative;
  margin: 16px;
  width: 30px;
  height: 28px;

  z-index: 100;

  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* define the style (size, color, position, animation, ...) of the 3 spans */
#topnav_hamburger_icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  margin-bottom: 5px;

  background: #000000;
  border-radius: 3px;

  z-index: 100;

  opacity: 1;
  left: 0;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* set the 3 spans position to look like a hamburger */
#topnav_hamburger_icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  background-color: #41388E;
}
#topnav_hamburger_icon span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  background-color: #f29036;
}
#topnav_hamburger_icon span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
  background-color:#DC0B2B ;
}

/* the first span rotates 45° \ */
#topnav_hamburger_icon.open span:nth-child(1) {
  width: 110%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* the second span disappears */
#topnav_hamburger_icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

/* the last span rotates -45° / */
#topnav_hamburger_icon.open span:nth-child(3) {
  width: 110%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bio{
 color:#DC0B2B ;
}

.projets{
color: #41388E ;
}

.contact{
color: #f29036;

}

.categories:hover{
  background-color: #eeeeee;
}
}