html,
body {
  width: 100%; /* La largeur occupe 100% de la largeur disponible */
  height: 100vh;  /* La hauteur occupe 100% de la hauteur de la fenêtre visible */
  padding: 0;
  margin: 0;
  background: url('../photo/fond_intro.svg') center/cover no-repeat; 
  background-position: bottom;
  background-size: 100%; /* Redimensionne l'image pour couvrir la totalité de l'élément */
  display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le conteneur occupe au moins 100% de la hauteur de la fenêtre */
  overflow: hidden;
}

.conteneur {
    flex: 1;
    z-index: 1;
}

:root {
    --background-color: #D93A3A;
    --text-color: white;
    --heading-color: white;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

nav {
    display: flex;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }
  
  /*Mes positionnements d'onglets de barre de navigation*/
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /*Mes onglets de barre de navigation*/
  .navigation {
    padding: 10px;
    text-decoration: none;
    font-family: 'Knewave', cursive;
    font-size: 1.25rem;
    color: #D93A3A;
    border: solid;
    border-radius: 15px;
    margin-left: 10px;
  }

  .navigation:hover {
    color: rgb(0, 0, 0);
  }

  

  .ligne-separation {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 1%;
  border-radius: 100%;
  justify-content: center;
  margin: 0 auto;
  }

  footer {
    bottom: 0;
    background-color: #423f3e;
    font-family: 'Kodchasan', sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 4em;
  }

  /*Logo dans barre de navigation*/

  .container-logo {
    background-color: white;
    width: 35px;
    height: 50px;
  }
  
  .logo {
    width: 37px;
    margin-top: 3px;
  }
  
  .container-logo:hover {
    scale: 110%;
    transition-duration: 2S;
  }

  /*Mes titres*/
  
 h1 {
    font-size: 8.75em;
    font-family: 'Knewave', cursive;
    text-align: center;
    margin: 0;
    margin-top: 40px;

  }

  h2 {
    font-size: 3.75rem;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 10;
    text-align: center;
    margin: 0;
    
    
  }

  /*Animation du texte qui change pour mettre différents adjectifs me qualifiant*/
.text {
    animation: text-change 10s linear infinite;
  }
  
  @keyframes text-change {
    from {
      transform: translateY(0px);
      opacity: 0;
    }
  
    to {
      transform: translateY(20px);
      opacity: 1;
    }
  }

  .nuage {
    
    opacity: 30%;
    z-index: -1;
    position: absolute;
  }

  #nuage1 {
    animation: horizontal-movement-droite 10s linear infinite;
    height: 200px;
    width: auto;
    z-index: -1;
  }

  #nuage2 {
    animation: horizontal-movement-droite 20s linear infinite;
    height: 100px;
    width: auto;
    z-index: -1;
  }

  @keyframes horizontal-movement-droite {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(100vw);
    }
  }

  #nuage3 {
    animation: horizontal-movement-gauche 15s linear infinite;
    height: 120px;
    width: auto;
    z-index: -1;
  }

  @keyframes horizontal-movement-gauche {
    from {
      transform: translateX(100vw);
    }

    to {
      transform: translateX(0);
    }
  }

  
/* Media Query pour les tablettes (ajustez les valeurs en conséquence) */
@media only screen and (max-width: 916px) {
  h1 {
    font-size: 6em;
    font-family: 'Knewave', cursive;
    text-align: center;
    margin: 0;
    margin-top: 40px;

  }

  h2 {
    font-size: 2.75rem;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 10;
    text-align: center;
    margin: 0;
  }

  
  body {
    width: 100%; /* La largeur occupe 100% de la largeur disponible */
    height: 100vh;  /* La hauteur occupe 100% de la hauteur de la fenêtre visible */
    padding: 0;
    margin: 0;
    background: url('../photo/fond_intro_tablette.svg') center/cover no-repeat; 
    background-position: bottom;
    background-size: cover; /* Redimensionne l'image pour couvrir la totalité de l'élément */
    display: flex;
      flex-direction: column;
      min-height: 100vh; /* Assure que le conteneur occupe au moins 100% de la hauteur de la fenêtre */
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

/* Media Query pour les téléphones (ajustez les valeurs en conséquence) */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 5em;
    font-family: 'Knewave', cursive;
    text-align: center;
    margin: 0;
    margin-top: 40px;

  }

  h2 {
    font-size: 2.5rem;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 10;
    text-align: center;
    margin: 0;
  }.ligne-separation {
      width: 40%; /* Ajustez la largeur pour les téléphones */
  }

  body {
    width: 100%; /* La largeur occupe 100% de la largeur disponible */
    height: 100vh;  /* La hauteur occupe 100% de la hauteur de la fenêtre visible */
    padding: 0;
    margin: 0;
    background: url('../photo/fond_intro_mobile.svg') center/cover no-repeat; 
    background-position: bottom;
    background-size: cover; /* Redimensionne l'image pour couvrir la totalité de l'élément */
    display: flex;
      flex-direction: column;
      min-height: 100vh; /* Assure que le conteneur occupe au moins 100% de la hauteur de la fenêtre */
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  #nuage1 {
    animation: horizontal-movement-droite 7s linear infinite;
    height: 200px;
    width: auto;
    z-index: -1;
  }

  #nuage2 {
    animation: horizontal-movement-droite 10s linear infinite;
    height: 100px;
    width: auto;
    z-index: -1;
  }

  #nuage3 {
    animation: horizontal-movement-gauche 6s linear infinite;
    height: 120px;
    width: auto;
    z-index: -1;
  }
}
