

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

#root{
  display:none;
}

.nuage { 
  width: 14em;
  opacity: 60%;
  pointer-events: none;
  z-index: 10;
  position: absolute;
  top: 200px;
}

@keyframes deplacement-droite {
  from {
    transform: translateX(-60vw);
  }
  to {
    transform: translateX(70vw);
  }
}

.nuage-animation {
  animation: deplacement-droite 14s linear infinite;
  
}

.background-container {

  
  background: url('../photo/fond_intro.svg') ;
  background-size: cover; /* ou background-size: 100% 100%; pour remplir entièrement */
  background-position: bottom;
  height: 90%; /* Pour s'assurer que la div occupe toute la hauteur du body */

  
 
}

.conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  bottom: 0;
  flex: 1;
}

:root {
    --background-color: #D93A3A;
    --text-color: white;
    --heading-color: white;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  #element2{
    color: #DC0B2B ;
    }
    
    #element3{
      color:#41388E;
      }
    
      #element4{
        color:#F28F34;
        }
nav {
    display: flex;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }
  
  /*Mes positionnements d'onglets de barre de navigation*/
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /*Mes onglets de barre de navigation*/
  .navigation {
    padding: 10px;
    text-decoration: none;
    font-family: 'Knewave', cursive;
    font-size: 1.25rem;
    color: #D93A3A;
    border: solid;
    border-radius: 15px;
    margin-left: 10px;
  }

  .navigation:hover {
    color: rgb(0, 0, 0);
  }

  

  .ligne-separation {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 1%;
  border-radius: 100%;
  justify-content: center;
  margin: 0 auto;
  }

  footer {
    bottom: 0;
    background-color: #423f3e;
    font-family: 'Kodchasan', sans-serif;
    font-size: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
  }

  /*Logo dans barre de navigation*/

  .container-logo {
    background-color: white;
    width: 35px;
    height: 50px;
  }
  
  .logo {
    width: 37px;
    margin-top: 3px;
  }
  
  .container-logo:hover {
    scale: 110%;
    transition-duration: 2S;
  }

  /*Mes titres*/
  
 h1 {
    font-size: 8.75em;
    font-family: 'Knewave', cursive;
    text-align: center;
    margin: 0;
    margin-top: 40px;

  }

  h2 {
    font-size: 3.75rem;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 10;
    text-align: center;
    margin: 0;
    
    
  }

  /*Animation du texte qui change pour mettre différents adjectifs me qualifiant*/
#text {
    animation: text-change 10s linear infinite;
  }
  
  @keyframes text-change {
    from {
      transform: translateY(0px);
      opacity: 0;
    }
  
    to {
      transform: translateY(20px);
      opacity: 1;
    }
  }

/***CTA****/
.container_btns{
  display: flex;
  flex-direction: row;
}

.container_btn {
  display: flex;
  justify-content: right;
  align-items: right;
  flex-direction: column;
  margin: 20px;
}

.btn {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
  padding: 15px 50px;
  border-radius: 45px;
  color: #000000;
  font-size: 11px;
  font-family: "Kodchasan", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer; /* Transforme mon curseur en pointeur (main) */
  
}

.btn:hover /* Crée une animation au survole */ {
  background: linear-gradient(90deg, rgba(121,211,237,0) 0%, rgba(111,44,218,0) 50%, rgba(0,34,143,0) 100%);
  border: solid 2px ;
  color: #ffffff;
}


  
/* Media Query pour les tablettes (ajustez les valeurs en conséquence) */
@media only screen and (max-width: 916px) {
  h1 {
    font-size: 6em;
    font-family: 'Knewave', cursive;
    text-align: center;
    margin: 0;
    margin-top: 40px;

  }

  h2 {
    font-size: 2.75rem;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 10;
    text-align: center;
    margin: 0;
  }

  /***** Menu burger ****/
#element1{
  display: none;
}

.topnav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
  height: 68px;
}
.topnav_link {
  color: rgb(0, 0, 0);
  padding: 12px;
  text-decoration: none;
}
.topnav_link:hover {
  color: #0078b4;
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

/* hide classic menu */
#topnav_menu {
  display: none;
}


#root{
display:block;
}

/* position home link at left and hamburger at right */
#home_link {
  flex-grow: 1;
}

/* disable horizontal scrolling  */
#root {
  position: relative;
  overflow-x: hidden;
}

/* show responsive menu and position at the right of the screen */
#topnav_responsive_menu {
  display: block;
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  z-index: 99;

  transform-origin: 0% 0%;
  transform: translate(200%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#topnav_responsive_menu ul {
  display: flex;
  flex-direction: column;

  position: absolute;
  margin: 0;
  right: 0;
  top: 0;

  min-width: 50vw;
  width: 100%;
  height: 100vh;
  padding: 56px 0 0;

  text-align: center;

  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#topnav_responsive_menu li {
  padding: 12px 24px;
  font-size: 40px;
  font-family: "knewave";
  text-align: center;
}

#topnav_responsive_menu a {
  white-space: nowrap;
  text-decoration: none;
}

/* And let's slide it in from the right */
#topnav_responsive_menu.open {
  transform: none;
  position: fixed;
}

/* ******************** HAMBURGER ICON ******************** */
/* define size and position of the hamburger link */
#topnav_hamburger_icon {
  display: block;
  position: relative;
  margin: 16px;
  width: 30px;
  height: 28px;

  z-index: 100;

  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* define the style (size, color, position, animation, ...) of the 3 spans */
#topnav_hamburger_icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  margin-bottom: 5px;

  background: #000000;
  border-radius: 3px;

  z-index: 100;

  opacity: 1;
  left: 0;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* set the 3 spans position to look like a hamburger */
#topnav_hamburger_icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  background-color: #41388E;
}
#topnav_hamburger_icon span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  background-color: #f29036;
}
#topnav_hamburger_icon span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
  background-color:#DC0B2B ;
}

/* the first span rotates 45° \ */
#topnav_hamburger_icon.open span:nth-child(1) {
  width: 110%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* the second span disappears */
#topnav_hamburger_icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

/* the last span rotates -45° / */
#topnav_hamburger_icon.open span:nth-child(3) {
  width: 110%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bio{
 color:#DC0B2B ;
}

.projets{
color: #41388E ;
}

.contact{
color: #f29036;

}

.categories:hover{
  background-color: #eeeeee;
}

/* Media Query pour les téléphones (ajustez les valeurs en conséquence) */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 5em;
    font-family: 'Knewave', cursive;
    text-align: center;
    margin: 0;
    margin-top: 40px;

  }

  h2 {
    font-size: 2rem;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 10;
    text-align: center;
    margin: 0;
    margin-top: 20px;

  }.ligne-separation {
      width: 40%; /* Ajustez la largeur pour les téléphones */
  }

  .container_btns{
    margin-top: 20px;
    flex-direction: column;
  }

  .footer{
    position: relative;
  }

  @keyframes deplacement-droite {
    from {
      transform: translateX(-60vw);
    }
    to {
      transform: translateX(40vw);
    }
  }

  .nuage-animation {
    animation: deplacement-droite 5s linear infinite;

  }

  
}

}

@media only screen and (max-width: 767px) {
  /* hide classic menu */
  #topnav_menu {
   display: none;
 }
 
 
 #root{
 display:block;
 }
 
 /* position home link at left and hamburger at right */
 #home_link {
   flex-grow: 1;
 }
 
 /* disable horizontal scrolling  */
 #root {
   position: relative;
   overflow-x: hidden;
 }
 
 /* show responsive menu and position at the right of the screen */
 #topnav_responsive_menu {
   display: block;
   position: absolute;
   margin: 0;
   right: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
 
   z-index: 99;
 
   transform-origin: 0% 0%;
   transform: translate(200%, 0);
 
   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
 }
 
 #topnav_responsive_menu ul {
   display: flex;
   flex-direction: column;
 
   position: absolute;
   margin: 0;
   right: 0;
   top: 0;
 
   min-width: 50vw;
   width: 100%;
   height: 100vh;
   padding: 56px 0 0;
 
   text-align: center;
 
   background: #ffffff;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
 }
 
 #topnav_responsive_menu li {
   padding: 12px 24px;
   font-size: 40px;
   font-family: "knewave";
   text-align: center;
 }
 
 #topnav_responsive_menu a {
   white-space: nowrap;
   text-decoration: none;
 }
 
 /* And let's slide it in from the right */
 #topnav_responsive_menu.open {
   transform: none;
   position: fixed;
 }
 
 /* ******************** HAMBURGER ICON ******************** */
 /* define size and position of the hamburger link */
 #topnav_hamburger_icon {
   display: block;
   position: relative;
   margin: 16px;
   width: 30px;
   height: 28px;
 
   z-index: 100;
 
   -webkit-user-select: none;
   user-select: none;
   cursor: pointer;
 }
 
 /* define the style (size, color, position, animation, ...) of the 3 spans */
 #topnav_hamburger_icon span {
   display: block;
   position: absolute;
   height: 4px;
   width: 100%;
   margin-bottom: 5px;
 
   background: #000000;
   border-radius: 3px;
 
   z-index: 100;
 
   opacity: 1;
   left: 0;
 
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: 0.25s ease-in-out;
   -moz-transition: 0.25s ease-in-out;
   -o-transition: 0.25s ease-in-out;
   transition: 0.25s ease-in-out;
 }
 
 /* set the 3 spans position to look like a hamburger */
 #topnav_hamburger_icon span:nth-child(1) {
   top: 0px;
   -webkit-transform-origin: left top;
   -moz-transform-origin: left top;
   -o-transform-origin: left top;
   transform-origin: left top;
   background-color: #41388E;
 }
 #topnav_hamburger_icon span:nth-child(2) {
   top: 12px;
   -webkit-transform-origin: left center;
   -moz-transform-origin: left center;
   -o-transform-origin: left center;
   transform-origin: left center;
   background-color: #f29036;
 }
 #topnav_hamburger_icon span:nth-child(3) {
   top: 24px;
   -webkit-transform-origin: left bottom;
   -moz-transform-origin: left bottom;
   -o-transform-origin: left bottom;
   transform-origin: left bottom;
   background-color:#DC0B2B ;
 }
 
 /* the first span rotates 45° \ */
 #topnav_hamburger_icon.open span:nth-child(1) {
   width: 110%;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 
 /* the second span disappears */
 #topnav_hamburger_icon.open span:nth-child(2) {
   width: 0%;
   opacity: 0;
 }
 
 /* the last span rotates -45° / */
 #topnav_hamburger_icon.open span:nth-child(3) {
   width: 110%;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
 }
 
 .bio{
  color:#DC0B2B ;
 }
 
 .projets{
 color: #41388E ;
 }
 
 .contact{
 color: #f29036;
 
 }
 
 .categories:hover{
   background-color: #eeeeee;
 }
 }

 /********Animation projets***********/



/*
==============================================
ANIMATION TIME!!!!
==============================================
*/
/*
==============================================
slideDown
==============================================
*/


.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
}