html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
 
}

.conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  bottom: 0;
  flex: 1;
}

:root {
    --background-color: #D93A3A;
    --text-color: white;
    --heading-color: white;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  #element2{
    color: #DC0B2B ;
    }
    
    #element3{
      color:#41388E;
      }
    
      #element4{
        color:#F28F34;
        }
        
nav {
    display: flex;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }
  
  /*Mes positionnements d'onglets de barre de navigation*/
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /*Mes onglets de barre de navigation*/
  .navigation {
    padding: 10px;
    text-decoration: none;
    font-family: 'Knewave', cursive;
    font-size: 1.25rem;
    color: #D93A3A;
    border: solid;
    border-radius: 15px;
    margin-left: 10px;
  }

  .navigation:hover {
    color: rgb(0, 0, 0);
  }

  

  .ligne-separation {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 1%;
  border-radius: 100%;
  justify-content: center;
  margin: 0 auto;
  }

 
footer {
  background: #ffffff;
  padding: 40px 20px 10px;
  color: #333;
 
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 0 auto;
  
}

.footer-col {
  flex: 1 1 160px;
  margin: 10px 20px;

}

.footer-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: 'Kodchasan', sans-serif;
  text-align: center;
}

.footer-col p {
  margin: 4px 0;
  font-size: 0.95rem;
  font-family: 'Kodchasan', sans-serif;
  color: #423F3E;
  text-align: center;
  margin: 10px;
}

.footer-name {
  font-size: 1.1rem;
  margin-top: -8px;
}

.circular-button {
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: filter 1s ease, transform 1s ease;
}

.circular-button svg {
  background: none;
}


hr {
  margin: 30px auto 10px;
  border: none;
  border-top: 1px solid #423F3E;
  width: 90%;
}

.footer-bottom p {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 15px;
  color: #423F3E;
  font-family: 'Kodchasan', sans-serif;
}

.logo_footer {
  width: 100px;
  margin-top: 0px;
}

#footer-title-1{
color: #D93A3A;
}

#footer-title-2{
color: #41388E;
}

#footer-title-3{
color: #F28F34;
}



.circular-button.invert text {
  fill:#423F3E; /* le texte devient noir */
}

.circular-button.invert line {
  stroke:#423F3E; /* la flèche devient noire */
}

  /*Logo dans barre de navigation*/

  .container-logo {
    background-color: white;
    width: 35px;
    height: 50px;
  }
  
  .logo {
    width: 53px;
    margin-top: 3px;
  }
  
  .container-logo:hover {
    scale: 110%;
    transition-duration: 2S;
  }

  h1 {
    font-size: 6.25vw;
    margin-left: 50px;
    font-family: 'Knewave', cursive;
    color: white;
  }

  .bio {
    margin-left: 50px;
    width: 700px;
    font-size: 1.50vw;
    font-family: 'Kodchasan', sans-serif;
    color: white;
  }